<!--<p>login works!</p>-->
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!--<form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
          </mat-form-field></td>
        </tr></table>
      </form>-->
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group clearfix" >
            <label for="userid" class="col-md-3 col-sm-5 col-xs-12">Userid</label>
            <div class="col-md-9 col-sm-7 col-xs-12">
                <input type="text" class="form-control" [formControlName]="'userid'" />
                <div *ngIf="loginForm.get('userid').dirty && loginForm.get('userid').errors?.required">
                    User Id is required
            </div>
            </div>
        </div>
        <div class="form-group clearfix" >
          <label for="password" class="col-md-3 col-sm-5 col-xs-12">Password</label>
          <div class="col-md-9 col-sm-7 col-xs-12">
              <input type="password" class="form-control" [formControlName]="'password'"/>
              <div *ngIf="loginForm.get('password').dirty && loginForm.get('password').errors?.required">
                      Password is required
              </div>
          </div>
        </div>
        <div class="col-xs-12 form-group text-right">
          <button class="btn btn-success" [disabled]="!loginForm.valid" type="submit">Login</button>
        </div>
    </form>
      <!--<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>-->
    </mat-card-content>
    <!--<mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>-->
  </mat-card>
